.slide-5 {
    background-image: url(../../assets/contact-bg.jpg);


}

.container.contact__container {
    text-align: center;

}
.container.contact__container h5 {
    margin-top: 10%;
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
    display: inline-block;
}
.contact__form {
    margin: 2% auto;
    width: 80%;
    max-height: 100vh;
    text-align: left;
}
.btn {
    background: transparent;
}

form {
    display: grid;
    grid-template-columns: 25% 65%;
    gap: 10%;


}
.form-group {
        display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact__send_info {
    text-align: center;
}
.contact__send_info p {
    font-size: 1.3rem;
}

input, textarea {
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);


}

input, textarea, button {
    font-family: inherit;
    font-size: medium;
    font-weight: 500;
}
@media screen and (max-width: 1024px) {
    .container.contact__container h5 {
        margin-top: 20%;
    }
    input, textarea, button {
        font-size: smaller;
    }
}
@media screen and (max-width: 600px) {
    input, textarea, button {
        font-size: small;
        padding: 0.5rem;
        width: 100%;
    }
}