.slide-2 {
    background-image: url(../../assets/skills-bg.jpg);

}

.about__container {
    display: grid;
    grid-template-columns: 50% 35%;
    gap:15%
}

.about__me {
    margin-top: 40%;
    width: 100%;
    aspect-ratio:1/1;
    border-radius: 2rem;
    background: linear-gradient(
            45deg,
            transparent,
            var(--color-primary),
            transparent);
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover {
    transform: rotate(0deg);
}
.about__content {
    margin-top: 10%;
}

.about__content p {
    margin: 1rem 0 2.6rem;
    color: var(--color-text);
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap:1.2rem;

}
h5  {
    color: var(--color-white);
    }
h2  {
    color: var(--color-primary);
    }
/*   Media   */

@media screen and (max-width: 1024px) {
    .about__container{
        grid-template-columns: 1fr;
    }
    .about__me {
        margin-top: 2%;
    }

}
@media screen and (max-width: 600px){
    .about__container{
        grid-template-columns: 1fr;
    }
    .about__me {
        margin-top: 2%;
    }
}
